.titleContact {
    color: orange;
    text-align: center;
}
.boardContact {
    padding: 0 10px;
}
input.contactname, input.contactemail, input.contactphone {
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    height: 40px;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
    border: 0px;
    outline: 0px;
}


textarea.contactnote {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 15px;
    width: 100%;
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
    border: 0px;
}

.buttonContact2 {
    margin-left: 5%;
    font-size: 20px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 10px;
    color: orange;
    background-color: white;
    outline: 0px;
    border: 0px;
}

.buttonContact2:hover {
    transition: 0.4s;
    background: orange;
    color: black;
}

img.bannerContact{
    width: 100%;
    height: 50%;
    padding-top: 13px;
}

iframe.map1{
    width: 100%;
    height: 400px;
    padding-top: 30px;
}
@media (max-width: 1190px){
    img.bannerContact{
        width: 100%;
        height: 50%;
    }

    iframe.map1{
        width: 100%;
    }

    .titleContact {
       padding-top: 50px;
    }

}

@media (max-width: 800px){
    img.bannerContact{
        width: 100%;
        height: 50%;
    }

    iframe.map1{
        height: 300px;
    }
}

@media (max-width: 768px) {
    .boardContact, .mapContact {
        margin-left: 0;
        width: 100%;
    }

    img.bannerContact{
        width: 100%;
        height: 50%;
    }

    iframe.map1{
        width: 100%;
    }
    div.backgroundContact{
        width: 100%;
    }
    

}