* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: bisque;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  font-weight: 600;
  transition: padding 0.3s;
  z-index: 1000;
}

.navbar.small {
  padding: 10px;
}

.navbar h1,
.navbar ul,
.navbar button,
.navbar img {
  transition: transform 0.3s, font-size 0.3s;
}

.navbar.small h1 {
  font-size: 1.2rem;
}

.navbar.small ul {
  transform: scale(0.8);
}

.navbar.small button {
  transform: scale(0.8);
}

.navbar.small img {
  transform: scale(0.8);
}

.logo {
  cursor: pointer;
  width: 100px;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: block;
  }
}

.menu .menu-title {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  color: black;
}

.menu .menu-title:hover {
  color: rgb(255, 0, 0);
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  list-style: none;
}

.btn-nav {
  display: flex;
}

.btn-item {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.card-item {
  margin-right: 25px;
}

.singin-item {
  margin-left: 25px;
}