
.navbar {
  background-color: #fcaf58;
  position: fixed !important;
  top: 0;
  display: flex !important; 
  flex-wrap: nowrap !important;
  width: 100%;
  padding: 0  6% !important;
  justify-content: space-between;
  font-weight: 600;
  transition: padding 0.3s;
  z-index: 1000;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
              rgba(0, 0, 0, 0.2) 0px 6px 6px;
}


.navbar:after {
  content: '';
  height: 10px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: -10px;
  border-radius: 0 0 5px 5px;
  background-color: #f2f6f7;
  opacity: 0.15;
  left: 15px;
}


.navbar.small {
  padding: 10px;
}

.navbar h1,
.navbar ul,
.navbar button,
.navbar img {
  transition: transform 0.3s, font-size 0.3s;
}

.navbar.small h1 {
  font-size: 1.2rem;
}

.navbar.small ul {
  transform: scale(0.8);
}

.navbar.small button {
  transform: scale(0.8);
}

.navbar.small img {
  transform: scale(0.8);
}



.logo {
  cursor: pointer;
  width: 100px;
}

.menu {
  display: none;
}

.menu-toggle {
  display: none;
}

.menu .menu-title {
  display: flex;
  padding: 0.3rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.menu .menu-title:hover {
  color: rgb(203, 105, 7) !important;
}

.menu .menu-title:after {
  content: "";
  position: absolute;
  bottom: -3px; 
  left: 0;
  right: 0;
  height: 2.5px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.menu .menu-title.active:after,
.menu .menu-title:hover:after {
  transform: scaleX(1); /* Show underline on hover or active */
}


.nav-menu {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  list-style: none;
}

.btn-nav {
  display: flex;
}


.dropdown-toggle::after {
  content: none !important;
}

.btn-item {
  height: 40px;
  width: 40px ;
  display: grid;
  place-items: center !important;
  border-radius: 50% !important;
  border: none !important;
  background-color: black !important;
  color: white ;
  font-size: 150%;
  cursor: pointer;
}

.card-item {
  margin-right: 25px;

}

.singin-item {
  margin-left: 25px ; 
}



/* Responsive for desktops */
@media (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .menu .menu-title {
    font-size: 1.3rem;
    padding: 0.3rem;
    line-height: 2rem;
    color: black;
  }

  .menu .menu-title:hover {
    color: red;
  }

  .nav-menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
}

/* Responsive for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 80px;
  }

  .navbar.small img {
    transform: scale(0.8);
  }

  .menu {
    display: flex;
  }
  
  .menu-toggle {
    display: none;
  }

  .menu .menu-title {
    font-size: 0.8rem;
  }

  .btn-item {
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
  }
}

/* Mobile Styling */
@media (max-width: 767px) {
  .navbar {
    padding: 0 4%;
    height: 70px;
  }

  .logo {
    width: 70px;
  }

  .navbar.small {
    padding: 5px 4%;
  }

  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
    height: 40px;
    width: 40px ;
    display: grid;
    place-items: center !important;
    border: none !important;
    background-color: transparent;
    color: black ;
    font-size: 150%;
    cursor: pointer;
  }

  .menu.active {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: bisque;
    text-align: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 1rem;
  }

  .menu .menu-title {
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: black;
  }

  .btn-nav {
    display: flex;
  }

  .btn-item {
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
  }
  .menu .menu-title.active:after,
  .menu .menu-title:hover:after {
  transform: scaleX(0.2); /* Show underline on hover or active */
  }
}




