  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
  }

  :root {
    --colorRed: #ff0000;
  }

  .logo {
    max-width: 140px;
    height: auto;
  }
  
  .text-slogan {
    font-size: 18px;
    font-weight: 600;
  }
  
  .res-title {
    color: var(--colorRed);
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .res-name {
    color: var(--colorRed);
    font-weight: bold;
    font-size: 30px;
  }

  /* custom li */
  .li-title {
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  .li-title:hover {
    color: var(--colorRed);
  }

  .li-name {
    color: var(--colorRed);
    padding-left: 5px;
  }
  
  .li-items {
    margin-bottom: 10px;
  }
  
  /* custom thanh hr doc */
  .vertical-hr {
    border: 0;
    border-left: 1px solid var(--colorRed); 
    height: 100px;
  }