.logo {
    width: 100px;
    height: auto;
  }
  
  .res-title {
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  
  .res-name {
   
    font-size: 32px;
  }
  
  .res-about, .res-contact {
    margin-top: 20px;
  }
  
  .list-about, .list-contact {
    
    text-decoration: none;
    list-style-type: none; /* Bỏ dấu chấm của danh sách */
    padding: 0; /* Bỏ padding mặc định */
  }
  .about-title {
    text-decoration: none;
    color: black;
  }
  .about-name {
    color: red;
    padding-left: 5px;
  }
  
  .about-items {
    margin-bottom: 10px;
  }
  
  .text-copyright {
    text-align: center;
  }
  